<div class="alert alert-success" *ngIf="successMessage !==''">{{successMessage}}</div>
<div>{{roomsForm.valid}}</div>

<form #roomsForm="ngForm" (ngSubmit)="addRoom(roomsForm)">
    <div class="form-group">
        <input required class="form-control" type="text" name="roomType" [(ngModel)]="room.roomType"
            placeholder="Room Type" />
    </div>
    <div class="form-group">
        <input #roomAmenities="ngModel" required minlength="5" maxlength="25" class="form-control" type="text"
            name="amenities" [(ngModel)]="room.amenities" placeholder="Amenities" />
    </div>
    <div class="alert alert-danger" *ngIf="roomAmenities.errors?.['minlength']">
        Amenities should be minimum 5 characters long!
    </div>
    <div class="form-group">
        <input required class="form-control" type="number" name="price" [(ngModel)]="room.price"
            placeholder="Room Price Per Night" />
    </div>
    <div class="form-group">
        <input required class="form-control" type="datetime" name="checkInTime" [(ngModel)]="room.checkInTime"
            placeholder="Check-in Time" />
    </div>
    <div class="form-group">
        <input required class="form-control" type="datetime" name="checkOutTime" [(ngModel)]="room.checkOutTime"
            placeholder="Check-out Time" />
    </div>
    <div class="form-group">
        <input required min="1" max="5" class="form-control" type="number" name="rating" [(ngModel)]="room.rating"
            placeholder="Rating" />
    </div>
    <div><button [disabled]="roomsForm.invalid" class="btn btn-primary" type="submit">Submit</button></div>

</form>